.product-container {
  text-align: center;
}

.main-carousel {
    text-align: center;
    height: 600px;
}

.product-information {
    line-height: 2;
    h2 {
      color: $orange;
      font-size: 22px;
    }
}

.carousel-cell {
    top: 60px;
    width: 100%;
    @include tablet-mode {
        width: 50%;
    }
    @include desktop-mode {
        width: 25%;
    }
}

.flickity-page-dots {
    bottom: 70px !important;
}

.slideshow-text {
    padding-top: 50px
}

.type, .price {
    color: #969696;
    font-weight: 400;
}