.contact {
    background: linear-gradient(rgba(0, 0, 0, .25) 0, rgba(0, 0, 0, .25)), url(../../images/wave-bkgd.jpg);
    background-position: bottom;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 320px;
    text-align: center;
    color: $white;
    text-shadow: 0.5px 0.5px 0.5px $shadow;
    @include tablet-mode {
      background-position: bottom;
    }
    @include desktop-mode {
      background-size: cover;
    }
  }
  
.signup-content {
    padding: 0 10px;
    p {
      font-size: 16px;
      line-height: 2;
      margin: 0 auto;
      @include desktop-mode {
        margin: 0 auto;
        width: 70%;
      }
    }
    @include tablet-mode {
      margin: 0 auto;
      width: 65%;
    }
    @include desktop-mode {
      margin: 0 auto;
      width: 50%;
    }
}

.signup-content form {
    position: relative;
    padding-top: 20px;
    width: 350px;
    margin: 0 auto;
}

.signup-title {
    padding-bottom: 25px;
}

form .text-form {
    font-family: 'Raleway';
    padding: 12px 22px;
    width: 80%;
    border: 0;
    border-radius: 100px;
}

form .subscribe {
    position: absolute;
    padding: 8px 15px;
    left: 70%;
    width: 90px;
    top: 40%;
    border: 0;
    border-radius: 100px;
    background-color: #e2574c;
    color: #ffffff;
}