.footer-section {
    height: 300px;
    background-color: $black-bkg;
    color: $white;
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-container a {
    color: $white;
}

.address p {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-style: normal;
    line-height: 2;
}
  
.address-direction p {
    font-weight: 300;
    padding-top: 5px;
    line-height: 1.5rem;
    color: $shadow;
}
  
.social-media p {
    display: none;
    @include tablet-mode {
        display: inline-block;
        line-height: 0.1rem;
        font-weight: 350;
    }
}

.social-media ul {
    display: flex;
    justify-content: center;
    list-style: none;
    @include tablet-mode {
      flex-direction: column;
    }
}

.social-media ul li {
    padding: 20px 10px;
}

@media screen and (min-width: 600px) {
    .social-media ul li a {
      text-decoration: none;
    }
}

@media screen and (min-width: 600px) {
    .social-media ul li i {
      padding-right: 20px;
    }
}