.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  text-decoration: none;
}

.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000; /* above all content */
}

/* GENERAL STYLES */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
  font-style: italic;
}

@media screen and (min-width: 600px) {
  h2 {
    font-size: 2.2rem;
  }
}

h2 span {
  font-weight: bold;
  font-style: normal;
}

h3 {
  color: #e2574c;
  font-size: 1.8rem;
}

p {
  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;
}

@media screen and (min-width: 600px) {

  html,
  body {
    font-size: 16px;
  }
}

/* NAVIGATION MENU */
/* _____________________________________________ */

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  white-space: nowrap;
  padding: 10px 0;
}

@media screen and (min-width: 600px) {
  .header-container {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding: 20px 0 0 0;
    max-width: 100%;
  }
}

.aloha-logo {
  align-self: flex-start;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 600px) {
  .aloha-logo {
    align-self: flex-start;
    order: 1;
  }
}

.aloha-logo img {
  width: 120px;
  min-width: 120px;
  height: auto;
  padding: 0 15px;
}

@media screen and (min-width: 1240px) {
  .aloha-logo img {
    align-self: center;
    width: 150px;
    max-width: 150px;
    padding-left: 120px;
  }
}

.cart-logo {
  align-self: flex-end;
  padding-bottom: 0.5rem;
  padding-right: 15px;
}

@media screen and (min-width: 600px) {
  .cart-logo {
    order: 3;
  }
}

@media screen and (min-width: 1240px) {
  .cart-logo {
    padding-right: 120px;
    order: 3;
  }
}

.cart-logo img {
  width: 50px;
  max-width: 50px;
  ;
  height: auto;
}

@media screen and (min-width: 600px) {
  .cart-logo img {
    width: 65px;
    max-width: 65px;
  }
}

.nav-menu {
  justify-content: center;
  align-self: center;
  text-align: center;
  width: 100%;
  border-top: 1px solid #d7d7d7;
}

@media screen and (min-width: 600px) {
  .nav-menu {
    padding-bottom: 15px;
    border: none;
    width: auto;
    padding-right: 50px;
    order: 2;
  }
}

.nav-menu a:link {
  color: #e2574c;
  text-decoration: none;
}

.nav-menu a:visited {
  color: #e2574c;
}

.nav-menu a:hover {
  color: #b64036;
}

.nav-menu ul {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-family: 'Raleway';
  color: #e2574c;
  font-weight: 700;
}

.nav-menu ul li {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  padding-right: 20px;
  text-decoration: none;
  list-style: none;
}

/* BANNER SECTION */
/* _____________________________________________ */

.banner-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, .15) 0, rgba(0, 0, 0, .15)), url(/images/banner-girl.png), url(/images/flower-bkgd.jpg);
  background-size: auto, auto, auto;
  background-size: cover, 11rem;
  background-position: bottom, bottom, center;
  background-repeat: no-repeat, no-repeat, repeat-x;
  height: 450px;
}

@media screen and (min-width: 600px) {
  .banner-section {
    height: 500px;
    background-size: cover, 12rem;
  }
}

@media screen and (min-width: 1240px) {
  .banner-section {
    height: 600px;
    background-size: cover, 14rem;
  }
}

.banner-text {
  padding: 0 80px;
  color: #ffffff;
  text-shadow: 0.5px 0.5px 0.5px #969696;
}

.new-collection {
  font-size: 1.2rem;
  font-weight: 400;
}

@media screen and (min-width: 1240px) {
  .new-collection {
    font-size: 1.5rem;
  }
}

.spring-summer {
  font-size: 2.5rem;
  font-style: normal;
}

@media screen and (min-width: 1240px) {
  .spring-summer {
    font-size: 3.5rem;
  }
}

/* ABOUT SECTION */
/* _____________________________________________ */

.about-section {
  align-items: center;
}

.about-text {
  text-align: center;
  padding: 30px 15px;
  font-size: 1.125rem;
  line-height: 30px;
}

@media screen and (min-width: 600px) {
  .signup-content {
    padding: 50px 200px;
  }
}

@media screen and (min-width: 1240px) {
  .about-text {
    padding: 50px 450px;
  }
}

/* PRODUCTS SECTION */
/* _____________________________________________ */

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 7px;
  height: 25cm;
}

@media screen and (min-width: 600px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 15cm;
  }
}

@media screen and (min-width: 1240px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 800px;
  }
}

.products span {
  font-family: Raleway;
  color: #ffffff;
  text-shadow: 0.5px 0.5px 0.5px #969696;
  font-size: 1.6rem;
}

@media screen and (min-width: 600px) {
  .products span {
    font-size: 2rem;
  }
}

@media screen and (min-width: 600px) {
  .products span {
    font-size: 2.2rem;
  }
}

.products a:link {
  color: #ffffff;
  text-decoration: none;
}

.products a:visited {
  color: #ffffff;
}

.products a:hover {
  color: #b64036;
}

.mens-cat {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, .20) 0, rgba(0, 0, 0, .20)), url(/images/mens-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

@media screen and (min-width: 600px) {
  .mens-cat {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.trends-cat {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, .20) 0, rgba(0, 0, 0, .20)), url(/images/trends-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

@media screen and (min-width: 600px) {
  .trends-cat {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.glasses-cat {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, .20) 0, rgba(0, 0, 0, .20)), url(/images/glasses-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

@media screen and (min-width: 600px) {
  .glasses-cat {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.sale-cat {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, .20) 0, rgba(0, 0, 0, .20)), url(/images/sale-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media screen and (min-width: 600px) {
  .sale-cat {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.bags-cat {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, .20) 0, rgba(0, 0, 0, .20)), url(/images/bags-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media screen and (min-width: 600px) {
  .bags-cat {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.womens-cat {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, .20) 0, rgba(0, 0, 0, .20)), url(/images/womens-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

@media screen and (min-width: 600px) {
  .womens-cat {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

/* PRODUCT SLIDESHOW */
/* _____________________________________________ */

.main-carousel {
  text-align: center;
  height: 600px;
}

.carousel-cell {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .carousel-cell {
    width: 50%;
  }
}

@media screen and (min-width: 1240px) {
  .carousel-cell {
    width: 25%;
  }
}

.slideshow-text h2,
span {
  text-align: center;
}

.flickity-page-dots {
  bottom: 70px;
}

.slideshow-text {
  padding: 30px 15px 15px 0;
}

.slideshow h3,
.type,
.price {
  text-align: center;
}

.slideshow .type,
.price {
  color: #969696;
  font-weight: 400;
}

.slideshow .type {
  font-size: 0.8rem;
}

.slideshow .price {
  font-size: 1rem;
  padding-bottom: 10px;
}

/* CONTACT (WAVE BACKGROUND) SECTION */
/* _____________________________________________ */

.contact {
  background: linear-gradient(rgba(0, 0, 0, .20) 0, rgba(0, 0, 0, .20)), url(/images/wave-bkgd.jpg);
  background-position: bottom;
  margin-bottom: 10px;
  height: 360px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0.5px 0.5px 0.5px #969696;
}

@media screen and (min-width: 600px) {
  .contact {
    background-size: cover;
    background-position: bottom;
  }
}

.contact p {
  font-size: 1.2rem;
  line-height: 2.12rem;
}

.signup-content {
  padding: 20px 10px 0 10px;
}

@media screen and (min-width: 1240px) {
  .signup-content {
    padding: 20px 550px;
  }
}

@media screen and (min-width: 600px) {
  .signup-content {
    padding: 20px 100px;
  }
}

.signup-content form {
  position: relative;
  padding-top: 20px;
  width: 350px;
  margin: 0 auto;
}

form .text-form {
  font-family: 'Raleway';
  padding: 12px 22px;
  width: 80%;
  border: 0;
  border-radius: 100px;
}

form .subscribe {
  position: absolute;
  padding: 8px 15px;
  left: 70%;
  width: 90px;
  top: 40%;
  border: 0;
  border-radius: 100px;
  background-color: #e2574c;
  color: #ffffff;
}

/* FOOTER SECTION */
/* _____________________________________________ */

.footer-section {
  height: 350px;
  background-color: #242424;
  color: #ffffff;
  line-height: 1.5rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 50px 0;
}

@media screen and (min-width: 600px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 50px 80px;
  }
}

.footer-container a {
  color: #ffffff;
}

.footer-container a:hover {
  color: #b64036;
}

.address p {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.address-direction p {
  padding-top: 5px;
  line-height: 0.5rem;
  color: #969696;
}

.social-media p {
  display: none;
}

@media screen and (min-width: 600px) {
  .social-media p {
    display: inline-block;
    line-height: 0.1rem;
    font-weight: 350;
  }
}

.social-media ul {
  display: flex;
  list-style: none;
}

@media screen and (min-width: 600px) {
  .social-media ul {
    flex-direction: column;
  }
}

.social-media ul li {
  padding: 10px 30px 0 0;
}

@media screen and (min-width: 600px) {
  .social-media ul li a {
    text-decoration: none;
  }
}

@media screen and (min-width: 600px) {
  .social-media ul li i {
    padding-right: 20px;
  }
}