h1, h2, h3 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size: 32px;
  font-weight: normal;
  font-style: italic;
  @include tablet-mode {
    font-size: 36px;
  }
}

h1 span {
  font-weight: bold;
  font-style: normal;
}

h3 {
  color: $orange;
  font-size: 16px;
}

p {
  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  @include tablet-mode {
    font-size: 16px;
  }
}